body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: rgb(236, 84, 29);
}
.btn-primary{
   border-radius: 5px;
   background-color: rgb(210, 102, 30);
   border: 0px;
   color: wheat;
   font-size: 20px;
   font-weight: 700;
   padding: 15px 35px;
}
nav{
    
    display: flex;
    justify-content: space-between;
}
.nav-title{
    color: black;
    font: size 45px;
    font-weight: 800;
}
nav >ul{
    display: flex;
}
nav ul{
    list-style: none;
     display:flex;
     align-items: center;

}
nav li{
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: rgb(53, 49, 49);
}
